@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto&display=swap');
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E1B23;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*,*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BACKGROUND */
.bgBlue{
  background-color: #0E1B23;
}
.bgLightBlue{
  background-color: #14252F;
}
.bgDarkBlue{
  background-color: #010F17;
}
.bgGreen{
  background-color: #009688;
}
/* TEXT */
.tWhite{
  color: whitesmoke;
}
.tDarkWhite{
  color: rgb(201, 201, 201);
}

li{
  list-style: none;
}

.btn{
  padding: 1rem;
  background-color: #0E1B23;
  color: white;
  font-size: large;
  transition: all ease-in-out .2s;
}
.btn:hover{
  background-color: white;
  color: #0E1B23;
  cursor: pointer;
  font-weight: bold;
}